<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label>학번<input type="text"></label><br>
    <label>이름<input type="text"></label><br>
    <label>학과<input type="text"></label><br>
    <label>이수학기<input type="text"></label><br>
    <label><input type="submit" value="submit"><form action="./index.html" method="POST"></form></label>
</body>
</html>